//
// Icons
// --------------------------------------------------

@font-face {
  font-family: 'favorites';
  src: url('../fontello/font/fontello.eot?93823765');
  src: url('../fontello/font/fontello.eot?93823765#iefix') format('embedded-opentype'),
       url('../fontello/font/fontello.woff2?93823765') format('woff2'),
       url('../fontello/font/fontello.woff?93823765') format('woff'),
       url('../fontello/font/fontello.ttf?93823765') format('truetype'),
       url('../fontello/font/fontello.svg?93823765#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
	heart : \e800,
	heart-empty : \e801,
	star-full : \e802,
	star-empty : \e803,
	ok : \e804,
	cancel : \e805,
	plus : \e806,
	minus : \e807,
	eye : \e809,
	eye-off : \e80a,
	pencil : \e80b,
	export : \e808
);

@mixin sf-icon($icon: false) {
    @if $icon {
        // A particular icon has been specified
        content: unquote("\"")+unquote("#{map-get($icons, $icon)}")+unquote("\"");
    }

	font-family: 'favorites';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    // Include any extra rules supplied for the pseudo-element
    @content;
}

.sf-icon-heart:before { @include sf-icon(heart); }
.sf-icon-heart-empty:before { @include sf-icon(heart-empty); }
.sf-icon-star-full:before { @include sf-icon(star-full); }
.sf-icon-star-empty:before { @include sf-icon(star-empty); }
.sf-icon-ok:before { @include sf-icon(ok); }
.sf-icon-cancel:before { @include sf-icon(cancel); }
.sf-icon-plus:before { @include sf-icon(plus); }
.sf-icon-minus:before { @include sf-icon(minus); }
.sf-icon-eye:before { @include sf-icon(eye); }
.sf-icon-eye-off:before { @include sf-icon(eye-off); }
.sf-icon-pencil:before { @include sf-icon(pencil); }
.sf-icon-export:before { @include sf-icon(export); }
